<html>
    <head>
        <link rel='stylesheet' href='../../static/style.css'>
        <title>Departments</title>
    </head>
    <body>
		<div id='container'>
        	<div id='left'>
        	    <menu>
        	        <li><a href='../departments'>Departments</a></li>
        	        <li><a href='../employees'>Employees</a></li>
        	    </menu>
        	</div>
			<div id='content'>
        	    <form method="post">
        	    	<p>Name: <input type="text" name="employee_name" value="{{name}}"></p>
        	    	<p>Date of birthday: <input type="date" name="employee_birth" value="{{birth}}"></p>
        	    	<p>Department: 
        	    	<select name="employee_department">
						{% for i in departments %}
        	    		<option {% if i == department %}selected="selected"{% endif %}>{{i}}</option>
        	    		{% endfor %}
        	    	</select></p>
        	    	<p>Salary: <input type="number" min="0" name="employee_salary" value="{{salary}}"></p>
        	    	<input type="submit" value="Add">
					<input type="button" value="cancel" onClick='location.href="../../employees"'>
        	    	
        	    	
        	    </form>
        	</div>
		</div>
    </body>
</html>