<html>
    <head>
        <link rel='stylesheet' href='../../static/style.css'>
        <title>Departments</title>
    </head>
    <body>
		<div id='container'>
        	<div id='left'>
        	    <menu>
        	        <li><a href='../../departments'>Departments</a></li>
        	        <li><a href='../../employees'>Employees</a></li>
        	    </menu>
        	</div>
			<div id='content'>
        	    <form method="post">
        	    	<p>Please confirm delete employee {{employee_name}}</p>
        	    	<input type="submit" name="confirm">
        	    	<input type="button" value="cancel" onClick='location.href="../../employees"'>
        	    </form>
        	</div>
		</div>
    </body>
</html>